workflows/reddit-bitcoin-radar.json
{"name": "Reddit Bitcoin Radar", "nodes": [{"parameters": {"httpMethod": "GET", "path": "bitcoin-radar", "options": {}}, "id": "52b1aaf0-7b91-478d-aeeb-c2d65b8cd643", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-400, 48], "webhookId": "bitcoin-radar-trigger"}, {"parameters": {"url": "https://www.reddit.com/r/btc/top.json?limit=5&t=day", "options": {"headers": {"parameters": [{"name": "User-Agent", "value": "n8n-bitcoin-radar/1.0"}]}}}, "id": "f58783ac-7f58-4398-aa6a-70b0b8e98ec9", "name": "Reddit API - btc", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [-192, -48]}, {"parameters": {"url": "https://www.reddit.com/r/Bitcoin/top.json?limit=5&t=day", "options": {"headers": {"parameters": [{"name": "User-Agent", "value": "n8n-bitcoin-radar/1.0"}]}}}, "id": "16145d2e-c69d-48bb-b3dc-3309cfe9b21b", "name": "Reddit API - Bitcoin", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [-192, 256]}, {"parameters": {"jsCode": "const redditData = $input.first().json.data;\nconst posts = redditData?.children?.map(child => ({\n  subreddit: child.data?.subreddit || \"btc\",\n  title: child.data?.title,\n  upvotes: child.data?.ups,\n  url: child.data?.url,\n  permalink: `https://reddit.com${child.data?.permalink}`,\n  author: child.data?.author,\n  num_comments: child.data?.num_comments,\n  selftext: child.data?.selftext?.substring(0, 300) || \"\"\n})) || [];\nreturn posts.map(p => ({ json: p }));"}, "id": "bf639de7-b091-4024-8721-70f4a66b6597", "name": "Parse btc", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, -48]}, {"parameters": {"jsCode": "const redditData = $input.first().json.data;\nconst posts = redditData?.children?.map(child => ({\n  subreddit: child.data?.subreddit || \"Bitcoin\",\n  title: child.data?.title,\n  upvotes: child.data?.ups,\n  url: child.data?.url,\n  permalink: `https://reddit.com${child.data?.permalink}`,\n  author: child.data?.author,\n  num_comments: child.data?.num_comments,\n  selftext: child.data?.selftext?.substring(0, 300) || \"\"\n})) || [];\nreturn posts.map(p => ({ json: p }));"}, "id": "5fb7e5ad-1cef-446a-b6ce-dd6b27bfcad0", "name": "Parse Bitcoin", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 256]}, {"parameters": {"operation": "aggregateItems", "aggregate": "aggregateAllItemData"}, "id": "524da344-f302-43bb-8914-906c568bdbbe", "name": "Aggregate btc", "type": "n8n-nodes-base.itemLists", "typeVersion": 1, "position": [208, -48]}, {"parameters": {"operation": "aggregateItems", "aggregate": "aggregateAllItemData"}, "id": "0aa78887-4d75-4db1-9abd-ec7efa8c8eed", "name": "Aggregate Bitcoin", "type": "n8n-nodes-base.itemLists", "typeVersion": 1, "position": [208, 256]}, {"parameters": {}, "id": "d637312a-97b5-44a0-9004-65f529e2de85", "name": "Merge", "type": "n8n-nodes-base.merge", "typeVersion": 3, "position": [416, 112]}, {"parameters": {"jsCode": "const allPosts = [];\n\n$input.all().forEach(item => {\n  // Aggregate wraps items in { data: [...] }\n  const entries = item.json?.data ?? (Array.isArray(item.json) ? item.json : [item.json]);\n  allPosts.push(...entries);\n});\n\nconst sorted = allPosts.sort((a, b) => (b.upvotes || 0) - (a.upvotes || 0));\nconst top5 = sorted.slice(0, 5);\n\nreturn top5.map(post => ({ json: post }));"}, "id": "d14b447c-8b8a-4b5f-9b53-d3f4e15de623", "name": "Select Top 5", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [624, 112]}, {"parameters": {"jsCode": "const posts = $input.all();\n\nlet prompt = \"Resume los 5 posts m\u00e1s virales de r/btc y r/Bitcoin de las \u00faltimas 24 horas. Proporciona un resumen en ESPA\u00d1OL conciso de m\u00e1ximo 5 puntos, destacando los temas m\u00e1s importantes para inversores de Bitcoin.\\n\\n\";\n\nposts.forEach((item, index) => {\n  const p = item.json;\n  prompt += `${index + 1}. [r/${p.subreddit}] ${p.title}\\n`;\n  prompt += `   Upvotes: ${p.upvotes} | Comentarios: ${p.num_comments}\\n`;\n  if (p.selftext) prompt += `   Contenido: ${p.selftext}\\n`;\n  prompt += \"\\n\";\n});\n\nprompt += \"\\nIMPORTANTE: Responde siempre en espa\u00f1ol.\";\n\nreturn { json: { prompt: prompt } };"}, "id": "d08ee242-d064-4497-a305-1e7f0037c6a7", "name": "Prepare Prompt", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [832, 112]}, {"parameters": {"model": "deepseek/deepseek-r1-distill-llama-70b", "options": {}}, "id": "3db99f5d-45aa-4f58-95c4-eda08626c412", "name": "OpenRouter Chat Model", "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [1072, 304], "credentials": {"openRouterApi": {"id": "OyQzAWXSBTIUwfwp", "name": "OpenRouter account"}}}, {"parameters": {"promptType": "define", "text": "={{ $json.prompt }}", "options": {}}, "id": "f96e20ef-4cc9-4b87-89fa-d956c0e06366", "name": "AI Agent", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.7, "position": [1072, 112]}, {"parameters": {"jsCode": "const summary = $input.first().json.output || $input.first().json.text || \"No se pudo generar resumen\";\n\nlet message = \"\ud83d\udcc8 *Resumen Bitcoin - \u00faltimas 24h*\\n\\n\";\nmessage += \"Top 5 posts de r/btc + r/Bitcoin\\n\\n\";\nmessage += `${summary}\\n\\n`;\nmessage += \"_Resumen en espa\u00f1ol - Powered by DeepSeek (OpenRouter)_\";\n\nreturn { json: { content: message } };"}, "id": "26860d57-35bf-4027-9487-ab922f774825", "name": "Format Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1440, 112]}, {"parameters": {"chatId": "6822665740", "text": "={{ $json.content }}", "additionalFields": {"parse_mode": "Markdown"}}, "id": "0a3cc6eb-c32c-4298-a319-5106b608c0e7", "name": "Telegram", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1632, 112], "webhookId": "083474d3-1f02-4cee-ac29-cd371745edd4", "credentials": {"telegramApi": {"id": "7uUcx2C35EQZFpkS", "name": "Telegram Personal"}}}], "connections": {"Reddit API - btc": {"main": [[{"node": "Parse btc", "type": "main", "index": 0}]]}, "Reddit API - Bitcoin": {"main": [[{"node": "Parse Bitcoin", "type": "main", "index": 0}]]}, "Parse btc": {"main": [[{"node": "Aggregate btc", "type": "main", "index": 0}]]}, "Parse Bitcoin": {"main": [[{"node": "Aggregate Bitcoin", "type": "main", "index": 0}]]}, "Aggregate btc": {"main": [[{"node": "Merge", "type": "main", "index": 0}]]}, "Aggregate Bitcoin": {"main": [[{"node": "Merge", "type": "main", "index": 1}]]}, "Merge": {"main": [[{"node": "Select Top 5", "type": "main", "index": 0}]]}, "Select Top 5": {"main": [[{"node": "Prepare Prompt", "type": "main", "index": 0}]]}, "Prepare Prompt": {"main": [[{"node": "AI Agent", "type": "main", "index": 0}]]}, "OpenRouter Chat Model": {"ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]}, "AI Agent": {"main": [[{"node": "Format Message", "type": "main", "index": 0}]]}, "Format Message": {"main": [[{"node": "Telegram", "type": "main", "index": 0}]]}, "Webhook": {"main": [[{"node": "Reddit API - btc", "type": "main", "index": 0}, {"node": "Reddit API - Bitcoin", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "timezone": "Europe/Madrid"}, "staticData": null}