workflows/reddit-bitcoin-radar.json
{
  "name": "Reddit Bitcoin Radar",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * *"
            }
          ]
        }
      },
      "id": "n1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        256,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/btc/top.json?limit=5&t=day",
        "options": {}
      },
      "id": "n2a",
      "name": "Reddit API - btc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        464,
        208
      ]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/Bitcoin/top.json?limit=5&t=day",
        "options": {}
      },
      "id": "n2b",
      "name": "Reddit API - Bitcoin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        464,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "const redditData = $input.first().json.data;\nconst posts = redditData?.children?.map(child => ({\n  subreddit: child.data?.subreddit || \"btc\",\n  title: child.data?.title,\n  upvotes: child.data?.ups,\n  url: child.data?.url,\n  permalink: `https://reddit.com${child.data?.permalink}`,\n  author: child.data?.author,\n  num_comments: child.data?.num_comments,\n  selftext: child.data?.selftext?.substring(0, 300) || \"\"\n})) || [];\nreturn posts.map(p => ({ json: p }));"
      },
      "id": "n3",
      "name": "Parse btc",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const redditData = $input.first().json.data;\nconst posts = redditData?.children?.map(child => ({\n  subreddit: child.data?.subreddit || \"Bitcoin\",\n  title: child.data?.title,\n  upvotes: child.data?.ups,\n  url: child.data?.url,\n  permalink: `https://reddit.com${child.data?.permalink}`,\n  author: child.data?.author,\n  num_comments: child.data?.num_comments,\n  selftext: child.data?.selftext?.substring(0, 300) || \"\"\n})) || [];\nreturn posts.map(p => ({ json: p }));"
      },
      "id": "n3b",
      "name": "Parse Bitcoin",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        512
      ]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData"
      },
      "id": "n4",
      "name": "Aggregate btc",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        864,
        208
      ]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData"
      },
      "id": "n4b",
      "name": "Aggregate Bitcoin",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        864,
        512
      ]
    },
    {
      "parameters": {},
      "id": "n5",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1072,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Flatten y obtener top 5\nconst allPosts = [];\n\n$input.all().forEach(item => {\n  if (Array.isArray(item.json)) {\n    allPosts.push(...item.json);\n  } else {\n    allPosts.push(item.json);\n  }\n});\n\nconst sorted = allPosts.sort((a, b) => (b.upvotes || 0) - (a.upvotes || 0));\nconst top5 = sorted.slice(0, 5);\n\nreturn top5.map(post => ({ json: post }));"
      },
      "id": "n6",
      "name": "Select Top 5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "const posts = $input.all();\n\nlet prompt = \"Resume los 5 posts más virales de r/btc y r/Bitcoin de las últimas 24 horas. Proporciona un resumen en ESPAÑOL conciso de máximo 5 puntos, destacando los temas más importantes para inversores de Bitcoin.\\n\\n\";\n\nposts.forEach((item, index) => {\n  const p = item.json;\n  prompt += `${index + 1}. [r/${p.subreddit}] ${p.title}\\n`;\n  prompt += `   Upvotes: ${p.upvotes} | Comentarios: ${p.num_comments}\\n`;\n  if (p.selftext) prompt += `   Contenido: ${p.selftext}\\n`;\n  prompt += \"\\n\";\n});\n\nprompt += \"\\nIMPORTANTE: Responde siempre en español.\";\n\nreturn { json: { prompt: prompt } };"
      },
      "id": "n7",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        368
      ]
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1-distill-llama-70b",
        "options": {}
      },
      "id": "n8",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1728,
        560
      ],
      "credentials": {
        "openRouterApi": {
          "id": "OyQzAWXSBTIUwfwp",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {}
      },
      "id": "n9",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1728,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "const summary = $input.first().json.output || $input.first().json.text || \"No se pudo generar resumen\";\n\nlet message = \"📈 *Resumen Bitcoin - últimas 24h*\\n\\n\";\nmessage += \"Top 5 posts de r/btc + r/Bitcoin\\n\\n\";\nmessage += `${summary}\\n\\n`;\nmessage += \"_Resumen en español - Powered by DeepSeek (OpenRouter)_\";\n\nreturn { json: { content: message } };"
      },
      "id": "n10",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        368
      ]
    },
    {
      "parameters": {
        "chatId": "6822665740",
        "text": "={{ $json.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "n11",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2288,
        368
      ],
      "webhookId": "083474d3-1f02-4cee-ac29-cd371745edd4",
      "credentials": {
        "telegramApi": {
          "id": "7uUcx2C35EQZFpkS",
          "name": "Telegram Personal"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Reddit API - btc",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit API - Bitcoin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit API - btc": {
      "main": [
        [
          {
            "node": "Parse btc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit API - Bitcoin": {
      "main": [
        [
          {
            "node": "Parse Bitcoin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse btc": {
      "main": [
        [
          {
            "node": "Aggregate btc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Bitcoin": {
      "main": [
        [
          {
            "node": "Aggregate Bitcoin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate btc": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Bitcoin": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Select Top 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Top 5": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timezone": "Europe/Madrid"
  },
  "versionId": "463d570d-ea18-48f8-a634-63621259d7dd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f7d978a68144d80706c24db4d02157b5aed1db8346ae16dc7360c37518e1f7b"
  },
  "id": "MwAj48shqZNFSQFn",
  "tags": []
}